
.tl-grid-container {
  background: linear-gradient(to top, rgba(42, 58, 73, 0.5), rgba(84, 100, 117, 0.5));

  display: grid;
  grid-template-columns: repeat(9, 8vw);
  grid-template-rows: repeat(17, 5vh);
  gap: 2px;
  grid-template-areas:
    ". . . . . . ."
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    "sidepad dash-panel dash-panel dash-panel dash-panel dash-panel dash-panel"
    ". . . . . . ."
    ;
}

.dash-panel-container {
  grid-area: dash-panel;
  background-color: transparent;
}

.dash-panel-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  display: flex;
  align-content: center;
  justify-content: center;
}

.dash-panel {
  position: absolute;
  width: 100%;
  height:100%;

  margin: 0px;
  padding: 10px;

  border-radius: 8px;
  border: solid 3px;
  border-color: #2a3a49;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  /*backface-visibility: hidden;
  --webkit-backface-visiblity: hidden;*/

  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dash-panel.hidden {
  display: none;
}

.dash-panel.front {
  background: repeating-linear-gradient(
    -55deg,
    #a4a4a4,
    #a4a4a4 5px,
    #757575 5px,
    #757575 10px
    );
}

.dash-panel.back {
  transform: rotateY(180deg);
  background: repeating-linear-gradient(
    55deg,
    #2a3a49,
    #2a3a49 5px,
    #546475 5px,
    #546475 10px
    );
}

.card-container {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  /*width: 95%;*/

  background-color: transparent;
  margin: 0px;
  z-index: 1;
}

.card-container-inner {
  /* styles pos/size within animation container parent */
  position: relative;
  width: 100%;
  height: 100%;

  /* confines fitting of card element within self */
  display: flex;
  justify-content: center;
  align-content: center;

  transition: 0.8s;
}

.card {
  /* styles to fill animation container-inner parent */
  position: absolute;
  width: 100%;
  height: 100%;

  /*background-color: rgba(255, 202, 40, 0.95);*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  border: solid 3px;
  border-color: #2a3a49;
  border-radius: 8px;

  /*backface-visibility: hidden;
  --webkit-backface-visiblity: hidden;*/

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  cursor: pointer;

}

.card.hidden {
  display: none;
}

.card.front {
  background: repeating-linear-gradient(
    55deg,
    rgba(255, 202, 40, 1),
    rgba(255, 202, 40, 1) 5px,
    rgba(199, 154, 0, 1) 5px,
    rgba(199, 154, 0, 1) 10px
    );

}

.card.back {
  transform: rotateX(180deg);
  border-color: #ffca28;
  background: repeating-linear-gradient(
    -55deg,
    rgba(42, 58, 73, 1),
    rgba(42, 58, 73, 1) 5px,
    rgba(84, 100, 117, 1) 5px,
    rgba(84, 100, 117, 1) 10px
    );
}

.card.back > .label {
  color: #ffca28;
}

/*.card:hover {
  background-color: #2a3a49;
  border-color: #ffca28;
  transform: rotateX(15deg);
}*/

/*.card:hover > .output-label, .card:hover > .context-label, .card:hover > .material-icons {
  color: #ffca28;
}*/



/*.card-container:hover .card-container-inner {
  transform: rotateX(180deg);
}*/
