<!DOCTYPE HTML>
<div class="dash-panel-container" id="main-dash-container">
  <div class="dash-panel-container-inner" id="main-dash-inner">
    <div class="dash-panel front">
      <div class="card-container">
        <div class="card-container-inner">
          <div class="card front" id="I'm a front card!">
            <div class = "label headline">Click Me</div>
          </div>
          <div class="card back hidden" id="I'm a back card!">
            <div class = "label headline">Click Me Back</div>
          </div>
        </div>
      </div>
    </div>
    <div class = "dash-panel back hidden" id="dash-queue-slot">
    {% block backpanel %}{% endblock %}
    </div>

  </div>
</div>
