<!DOCTYPE HTML>
<div class = "vFrame" id="Water">
  <div class = "canvas">
    <div class = "box top-level">
      <div class = "output-label">Total: 84%</div>
      <i class="material-icons" id="trend-icon">arrow_circle_up</i>

    </div>
  </div>
  <div class = "canvas">
    <div class = "box">
      <div class = "output-label">72%</div>
      <div class="context-label">Roof #1</div>
    </div>
    <div class = "box">
      <div class = "output-label">68%</div>
      <div class="context-label">Roof #2</div>
    </div>
  </div>
  <div class = "canvas">
    <div class = "flip-container" id="Test Card">
      <div class = "flip-container-inner">
        <div class = "box headline-box visible">
          <div class = "output-label">86%</div>
          <div class="context-label">Basketball Court</div>
        </div>
        <div class = "box infolist-box hidden" id="testy list">
          <ul class = "box-list">
            <li class="listbox-item">Item 1</li>
            <li class="listbox-item">Item 2</li>
            <li class="listbox-item">Item 3</li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "box">
      <div class = "output-label">56%</div>
      <div class="context-label">Pumphouse</div>
    </div>
  </div>
  <div class = "canvas">
    <div class = "box">
      <div class = "output-label">48%</div>
      <div class="context-label">Shower House</div>
    </div>
    <div class = "box patterned">
      <div class = "output-label">37%</div>
      <div class="context-label">Pig Pen</div>
    </div>
  </div>
  <div class = "canvas">
      <div class = "box">
        <div class ="output-label">68%</div>
        <div class="context-label">Hillside Reserve</div>
      </div>
  </div>
</div>
