{% extends "base.html" %}

{% block content %}
    <div class = "section">

      {# <div class = "vFrame active" id="Home"> #}
      {#   <div class = "canvas"> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">Home</div> #}
      {#     </div> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">42</div> #}
      {#     </div> #}
      {#   </div> #}
      {# </div> #}

      {% include "dash/water.html" %}


      {# <div class = "vFrame" id="Climate"> #}
      {#   <div class = "canvas"> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">Climate</div> #}
      {#     </div> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">64</div> #}
      {#     </div> #}
      {#   </div> #}
      {# </div> #}
      {#  #}
      {# <div class = "vFrame" id="Media"> #}
      {#   <div class = "canvas"> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">Media</div> #}
      {#     </div> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">83</div> #}
      {#     </div> #}
      {#   </div> #}
      {# </div> #}
      {#  #}
      {# <div class = "vFrame" id="Network"> #}
      {#   <div class = "canvas"> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">Network</div> #}
      {#     </div> #}
      {#     <div class = "box"> #}
      {#       <div class = "output-label">42</div> #}
      {#     </div> #}
      {#   </div> #}
      {# </div> #}

      {#{% include "test.html" %}#}
      
    </div>
{% endblock %}
