<!DOCTYPE HTML>
<div class = "vFrame" id="Test">
  <div class = "canvas">
    <div class = "flip-container" id="Test Card">
      <div class = "flip-container-inner">
        <div class = "box headline-box visible">
          <div class = "output-label">Click Me</div>
        </div>
        <div class = "box infolist-box hidden" id="testy list">
          <ul class = "box-list">
            <li class="listbox-item">Item 1</li>
            <li class="listbox-item">Item 2</li>
            <li class="listbox-item">Item 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
